.box {
    background-color: #ffffff;
    border: 1px solid #ebedf0;
    padding: 20px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.2);
    width: 100%;
    height: 40%;
    position: relative;
    top: 30px;
}

.animate {
    height: 50%;
    z-index: 9;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    bottom: 200px;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}