.singupLinks {
    text-align: center;
}

.authHeader {
    text-align: center;
}

.card {
    background-color:white;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    height: 499px;
    padding: 1em;
    position: absolute;
    margin-top: -14px;
    margin-left: -13px;
}

.animate {
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-top: 70px;
}